<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include ('partials/head.html')%>
    
</head>
<body>
    <%- include ('partials/navigation.html')%>
    
    <div class="container">
        <header class="row">
        <div class="col-lg-12 text-center">
            <img src="/img/pews-logo.png" class="animate__animated animate__bounceIn" alt="">
        </div>
        </header>
    </div>

    <!--Section 1-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                
                <h3>Esto es prube</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veritatis autem, commodi fugit praesentium magnam pariatur, atque nostrum 
                    voluptate dignissimos dolorem aliquid facilis porro, facere quisquam deleniti voluptatem ab repudiandae?</p>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html')%>
</body>
</html>